{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    <h2>Vérification des droits d'administrateur</h2>#}

{#    {% for message in app.flashes('error') %}#}
{#        <div class="alert alert-danger">{{ message }}</div>#}
{#    {% endfor %}#}

{#    {{ form_start(form, {#}
{#        method: 'POST',#}
{#        attr: { 'data-turbo': 'false' }#}
{#    }) }}#}

{#    {{ form_row(form.email) }}#}
{#    {{ form_row(form.password) }}#}

{#    <button type="submit" class="btn btn-primary">Connexion</button>#}

{#    {{ form_end(form) }}#}
{#{% endblock %}#}
