{#{% extends 'base.html.twig' %}#}

{#{% block title %}Connexion{% endblock %}#}

{#{% block body %}#}
{#    <div class="container">#}
{#        <h1>Connexion</h1>#}

{#        {% if error %}#}
{#            <div class="alert alert-danger">#}
{#                {{ error.messageKey|trans(error.messageData, 'security') }}#}
{#            </div>#}
{#        {% endif %}#}

{#        <form action="{{ path('app_login') }}" method="post">#}
{#            <label for="username">Email:</label>#}
{#            <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>#}

{#            <label for="password">Mot de passe:</label>#}
{#            <input type="password" id="password" name="_password" required>#}

{#            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}
{#            <button type="submit">Connexion</button>#}
{#        </form>#}

{#        <br>#}

{#        <a href="{{ path('is_admin') }}">Accéder à la page d'administration</a>#}
{#    </div>#}
{#{% endblock %}#}


{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h1>Connexion</h1>

{#        {% for message in app.flashes('error') %}#}
{#            <div class="alert alert-danger" role="alert">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}


        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>

            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="_password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit">Connexion</button>
        </form>

        <br>

        <a href="{{ path('app_register') }}">Accéder à la page d'inscription</a>
    </div>
{% endblock %}
