<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #121212;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 1200px;
            margin: auto;
            background: #77a1cc;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            font-size: 18px;
            line-height: 1.6;
            color: #666;
        }
        a {
            color: #3da178;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
    {% block additional_styles %}{% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% include 'navbar.html.twig' %}

<div class="container">
    {% block body %}
        <h1>Bienvenue, {{ app.user.username }}!</h1>
        <div>
            <img src="{{ asset('images/profiles/' ~ (app.user.userProfileImage ?: 'default.png')) }}" alt="Image de profil">
            <a href="{{ path('profile_edit') }}">Modifier le profil</a>
        </div>
    {% endblock %}
</div>
</body>
</html>
